body {
  margin: 0;
  font-family: 'Victor Mono', monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Victor Mono', monospace;

}

.t1{
  display: inline-block;
  position: relative;
  top: 200px;
  left: 100px;
  font-family: 'Victor Mono', monospace;
  font-size:xx-large;
  font-weight: bolder;
  color: black;
}
.t2{
  display: inline-block;
  font-family: 'Victor Mono', monospace;
  font-size:xx-large;
  font-weight: bolder;
  color: blue;
  position: relative;
  top: 250px;
  left: -300px;
}

.t3{
  display: inline-block;
  font-size: larger;
  
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
  top: 300px;
  left: -500px;
}

.t3:hover{
  color:white;
  background-color: blue;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  
}

.t4{
  height: 300px;
  width: 500px;
  position: relative;
  top: 200px;
  right: 100px;
  background-color: transparent;
}

.M1{
  background-color: lightskyblue;
}


.t33{
  display: inline-block;
  font-size: larger;
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
  top: 300px;
  left: -500px;
  width: 150px;
  padding-left: 10px;
}

.t33:hover{
  color:white;
  background-color: blue;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

@media screen and (max-width: 1024px) {
  .t4{
    height: 300px;
    width: 500px;
    position: relative;
    top: 400px;
    left: 270px;
    background-color: transparent;
  }
  .t1{
    display: inline-block;
    position: relative;
    top: 200px;
    left: 250px;
    font-family: 'Victor Mono', monospace;
    font-size:xx-large;
    font-weight: bolder;
    color: black;
  }
  .t2{
    display: inline-block;
    font-family: 'Victor Mono', monospace;
    font-size:xx-large;
    font-weight: bolder;
    color: blue;
    position: relative;
    top: 250px;
    left: -130px;
  }
  
  .t3{
    display: inline-block;
    font-size: larger;
    
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    top: 300px;
    left: -350px;
  }
  
  .t3:hover{
    color:white;
    background-color: blue;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    
  }
  
}

@media screen and (max-width: 768px) {
  .t4{
    height: 300px;
    width: 500px;
    position: relative;
    top: 400px;
    left: 160px;
    background-color: transparent;
  }
  .t1{
    display: inline-block;
    position: relative;
    top: 200px;
    left: 170px;
    font-family: 'Victor Mono', monospace;
    font-size:xx-large;
    font-weight: bolder;
    color: black;
  }
  .t2{
    display: inline-block;
    font-family: 'Victor Mono', monospace;
    font-size:xx-large;
    font-weight: bolder;
    color: blue;
    position: relative;
    top: 250px;
    left: 250px;
  }
  
  .t3{
    display: inline-block;
    font-size: larger;
    
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    top: 300px;
    left: 20px;
  }
  
  .t3:hover{
    color:white;
    background-color: blue;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    
  }
  
}


.card{
  left: 150px;
  top: 30px;
  margin: 10px 10px;
  width: 25rem;
  display: inline-block;
}